*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image: url('image/dota3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: black;
    font-family: lato,sans-serif;

}
.carddetail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    margin: 10%auto;
    max-height: 700px;
    margin-top: 70px;

}
.img{
    background-image: linear-gradient(to bottom right, black , grey);
    height: 200px;
    position: relative;
    width: 100%;
    border-radius: 5px;
    margin-top: 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.img img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 260px;
    height: 160px;
    transform: translate(-50%, -50%);
}
.info{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 8px;
    text-align: center;
    background-color: grey;
}
.info h2{
    margin-top: 10px;
    margin-bottom: 20px;
}
.stats{
    font-size: 14px;
    padding-top: 5px;
    display: flex;
    width: 100%;
    height: 140px;
    background-color:#a9a9a9;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
ul{
    margin-left: 17px;
    margin-top: 7px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
li{
    list-style: none;
}
.detailnya{
    margin-top: 8px;
    margin-left: 25px;
    
}
.containersearch{
    background-color: whitesmoke;
    height: 65px;
    width: auto;
    padding-top: 20px;
    background-image: linear-gradient(black, brown);
   
}
.search{
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
}
.search input{
    font-size: 18px;
    height: 32px;
    width: 250px;
    color: Black;
    text-indent: 10px;
    background-color:#708090;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    
}
.search ::placeholder{
    color: #bdbebd;
}
.inputbutton{
    display: inline-block;
    height: 32px;
    width: 90px;
    color: black;
}
.inputbutton button{
    margin-left: 10px;
    height: 32px;
    width: 90px;
    color: black;
    font-size: 15px;
    background-color: #666699;
}
