* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


/* header style */

header {
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(gray, black);
    margin-top: -18px;
    width: auto;
    max-height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: start;
}

h2 {
    padding-left: 20px;
    font-size: 2em;
    margin-top: 30px;
    color: white;
}

header>img {
    margin-top: 20px;
    width: 60px;
    height: 60px;
}


/* navigation style */

.nav {
    background-color: whitesmoke;
    height: 50px;
    width: auto;
    padding-top: 20px;
    background-image: linear-gradient(gray, black);
}

.grup2 {
    font-size: 20px;
    display: inline;
    margin-left: 16%;
    color: white;
}

.navig {
    font-size: 20px;
}

.active {
    color: goldenrod;
}


/* content style*/

.container {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit 2fr);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2px;
    height: auto;
    width: auto;
    padding: 1px;
    background-image: linear-gradient(to top, gray, black);
}

.card {
    margin: 5px;
    display: inline-block;
    width: auto;
    height: 200px;
    border-radius: 0.5px;
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.2);
    z-index: 1;
}

.card-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-top: -30px;
    text-align: center;
    color: antiquewhite;
    transition: .5s ease;
    opacity: 0;
}

.card:hover .card-title {
    opacity: 1;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

.grup {
    display: inline-block;
}


/* back button style */

.tambah {
    margin-top: 35px;
    margin-left: 35px;
}

.tambah button {
    width: 90px;
    height: 32px;
    background-color: grey;
    font-size: 15px;
    border-top: none;
    border-right: none;
}

#bawah {
    border-radius: 100%;
    background-color: rgba(78, 73, 73, 0.8);
    /* rgba(162, 162, 163, 0.8); */
    width: 120px;
    height: 120px;
    position: fixed;
    z-index: 3;
    text-align: center;
    right: 20px;
    bottom: 20px;
    float: right;
}

#ref2 {
    color: goldenrod;
    text-decoration: none;
}

#back {
    margin-top: 50px;
    font-size: 20px;
}
